/* src/components/Spotlight.css */

.spotlight-wrapper {
    width: 100%;
    overflow: hidden;
    padding: 40px 0px 60px 0px;
    position: relative;
    transition: all .24s ease-in-out;
  }
  
  .spotlight-container {
    display: flex;
    align-items: center;
    padding:20px;
    height: 300px; /* Adjust the height as needed */
    transition: all 0.5s ease;
  }
  
  .spotlight-card {
    flex-shrink: 0;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: all 0.5s ease;
    position: relative;
    margin-right: 10px;
  }

  

  .spotlight-card .spotlight-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: all .5s ease-in;
  }

  .spotlight-card.selected .spotlight-image {
    border: 2px solid white; /* Add white border in selected state */
  }

  .spotlight-card-shadow {
    position: absolute;
    top: 0;
    left:0;
    height:90%;
    width: 90%;
    filter:blur(40px);
    background-size: cover;
    background-position: center;
    opacity: .5;
  }

  .spotlight-card:not(.selected) .spotlight-card-shadow {
    z-index: -100;
  }
  
  .spotlight-card.selected .spotlight-card-shadow {
    z-index: -100;
    opacity: 1;

  }
  
  .spotlight-card.selected {
    width: 500px; /* Expanded width */
    aspect-ratio: 16/9;
  }
  
  .spotlight-card:not(.selected) {
    width: 200px; /* Non-selected card width */
    filter: brightness(0.7);
  }
  
  .spotlight-card:hover {
    cursor: pointer;
  }
  
  .spotlight-content {
    position: relative;
   margin-top:12px;
    color: white;
    opacity: 0;
  }

  .spotlight-card:not(.selected) .spotlight-content {
    opacity: 0;
    transition: opacity .005s linear !important;


  }

    .spotlight-card.selected .spotlight-content {
    opacity: 1;
    transition: opacity .75s ease-in !important;

  }
  
  .spotlight-card.selected .spotlight-content h4 {
    margin: 0;
    font-size: 18px;
  }
  
  .spotlight-card.selected .spotlight-content p {
    margin-top: 5px;
    font-size: 16px;
    opacity: .7;
  }
  
  /* Hide scrollbar if any */
  .spotlight-container {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    overflow: -moz-scrollbars-none; /* Old Firefox */
    scrollbar-width: none; /* Firefox */
  
  }
  
  .spotlight-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  